tqdm==4.62.3
numpy==1.21.5
pillow==9.0.1
transformers==4.19.2
ftfy==6.0.1
scipy==1.9.2
accelerate==0.5.1
pytorch-lightning==1.4.2
einops==0.3.0
omegaconf==2.1.1
albumentations==0.4.3
opencv-python==4.1.2.30
pudb==2019.2
imageio==2.9.0
imageio-ffmpeg==0.4.2
test-tube>=0.7.5
torch-fidelity==0.3.0
torchmetrics==0.6.0
taming-transformers
